<form class="row">

    <mat-form-field class="example-full" [formGroup]="form">
        <mat-label>input</mat-label>
        <input matInput formControlName="input">
    </mat-form-field>
    
    <mat-form-field class="example-full" [formGroup]="form">
        <mat-label>program</mat-label>
        <input matInput formControlName="program">
    </mat-form-field>
    
    <mat-form-field class="example-full" [formGroup]="form">
        <mat-label>output</mat-label>
        <input matInput formControlName="output">
    </mat-form-field>
    
</form>
