<form class="row">

    <mat-form-field class="example-full" [formGroup]="form">
        <mat-label>input</mat-label>
        <textarea matInput rows="30" formControlName="input"></textarea>
    </mat-form-field>
    
    <mat-form-field class="example-full" [formGroup]="form">
        <mat-label>program</mat-label>
        <textarea matInput rows="30" formControlName="program"></textarea>
    </mat-form-field>
    
    <mat-form-field class="example-full" [formGroup]="form">
        <mat-label>output</mat-label>
        <textarea matInput rows="30" formControlName="output"></textarea>
    </mat-form-field>
    
</form>

<div class="example-button-row">
    <button mat-button (click)="compile()">Compile</button>
    <button mat-button (click)="compare()">Compare</button>
    <button mat-button (click)="copy()">Copy</button>
    <button mat-button (click)="clear()">Clear</button>
</div>