<mat-toolbar>Server - Workspace</mat-toolbar>

<form class="row">

    <div class="text-full">

        <mat-form-field class="example-full" [formGroup]="form">
            <mat-label>input</mat-label>
            <textarea matInput rows="{{rows}}" formControlName="input"></textarea>
    
        </mat-form-field>
        
    </div>
    
    <div>
        <button mat-button (click)="runTest()">TEST</button>
    </div>
    
    <mat-form-field class="example-full" [formGroup]="form">
        <mat-label>output</mat-label>
        <textarea matInput rows="{{rows}}" formControlName="output"></textarea>
    </mat-form-field>
    
</form>

<div>
    <button mat-button (click)="clear()">Clear</button>
</div>