.feature-description {
    width: calc(100% - 2rem);
    max-width: 72rem;
    margin: 0 auto;
    padding: 1rem 0;

    form {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
    }

    mat-form-field {
        flex: 1;
    }

    .open-feature {
        display: flex;
        gap: 1rem;
        padding: 0.35rem 0;
    }

    .open-feature-id {
        flex: none;
        font-family: monospace;
    }
}
