.feature-description {
    width: min(48rem, calc(100% - 2rem));
    margin: 2rem auto;

    mat-form-field {
        width: 100%;
    }

    .open-features {
        margin-top: 2rem;
        overflow-wrap: anywhere;
    }

    ul {
        padding-left: 1.5rem;
    }

    li {
        margin-block: 0.5rem;
    }
}
