<mat-toolbar color="primary">
    HOME - {{host}}
    <nav>
        @for(link of navLinks; track $index) {
            |
            <a href="{{link.url}}">{{link.name}}</a>
        }
    </nav>

    <div class="spacer"></div>

    <nav>
        <a [routerLink]="['/ppt/edit']" [queryParams]="{fullpathfilename: './projects/client/src/app/app.component.ts'}">
            C
        </a>
        |
        <a [routerLink]="['/ppt/edit']" [queryParams]="{fullpathfilename: './projects/server/src/start.ts'}">
            S
        </a>            
        |
        <a [routerLink]="['/ppt/edit']" [queryParams]="{fullpathfilename: './scratch/TODO.md'}">
            T
        </a>            
        |
        <a [routerLink]="['/ppt/edit']" [queryParams]="{fullpathfilename: './scratch/IDEA.md'}">
            I
        </a>            
        |
        <a [routerLink]="['/ppt/edit']" [queryParams]="{fullpathfilename: './scratch/THOUGHTS.md'}">
            M
        </a>            
    </nav>


</mat-toolbar>


<router-outlet />
