<mat-toolbar color="primary">
    PPT - {{ host }}
    |

    <nav>
        <a mat-button routerLink="/ppt/browse">Browse</a>
        |
        <a mat-button routerLink="/tests">TEST</a>
        |
        <a mat-button routerLink="/terms">terms</a>
        |
        <a mat-button routerLink="/glossary">glossary</a>
        |
        <a mat-button routerLink="/history">history</a>
        |
        <a mat-button routerLink="/ppt/browse" [queryParams]="{path: '', file: '.workflow'}">Workflow</a>
        |
        <a mat-button routerLink="/ppt/browse" [queryParams]="{path: './projects/server/src/lib', file: ''}">Server</a>
        |
        <a mat-button routerLink="/ppt/browse" [queryParams]="{path: './projects/client/src/app', file: ''}">Client</a>
        |
        <a mat-button routerLink="/ppt/browse" [queryParams]="{path: '', file: 'TODO.md'}">TODO</a>
        |
        <a mat-button routerLink="/ppt/browse" [queryParams]="{path: '/projects/client/src/app', file: '/projects/client/src/app/navigation-toolbar/navigation-toolbar.component.html'}">EDIT-MENU</a>
        |
        <a mat-button routerLink="/git/log">Git log</a>
        |
        <button
            type="button"
            mat-button
            class="commit-button"
            (click)="commitRequested.emit()"
            [disabled]="isCommitting"
        >
            {{ isCommitting ? 'Committing…' : 'Commit changes' }}
        </button>
    </nav>
</mat-toolbar>
