/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 98%;
    background-color: #a598ab;

    margin: 0px;
    border-style: border;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// var(--mat-text-button-touch-target-display, block)