<mat-toolbar>
    <button (click)="loadFile()" mat-button>load</button>
    <span class="example-spacer"></span>
    <span contenteditable (input)="setFilename($event)">{{filename}}</span>
    <span class="example-spacer"></span>
    <button (click)="saveFile()" mat-button>save</button>
</mat-toolbar>

<div style="height: 95%; width: 100%;">
    <ngx-monaco-editor #monacoEditor style="height: 100%" [options]="editorOptions" [(ngModel)]="fileContent" (onInit)="onEditorInit($event)"></ngx-monaco-editor>
</div>
