.bg-orange {
    background-color: orange;
}

.bg-blue {
    background-color: #8880ff;
}

.bg-yellow {
    background-color: yellow;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
