<mat-toolbar color="primary" class="file-editor-toolbar">
    <button (click)="loadFile()" mat-button>load</button>
    <span class="example-spacer"></span>
    <input class="filename-input" aria-label="Filename" [(ngModel)]="filename" (keydown)="onFilenameKeydown($event)">
    <span class="example-spacer"></span>
    <button (click)="saveFile()" mat-button>save</button>
</mat-toolbar>

<div class="editor-surface">
    <ngx-monaco-editor #monacoEditor [options]="editorOptions" [(ngModel)]="fileContent" (onInit)="onEditorInit($event)"></ngx-monaco-editor>
</div>
