.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.folders {
    flex: 1;
    height: 88vh;
    overflow-y: scroll;
    max-width: 20vw;
    min-width: 15vw;
}

.files {
    flex: 5;
    // max-width: 80vw;
}

mat-form-field {
    width: 100%;
}